<div class="h-full py-4 bg-neutral flex flex-col overflow-x-hidden">
  <div class="flex justify-between items-center sticky top-0">
    <div
      class="tooltip tooltip-right tooltip-accent"
      data-tip="Sidebar"
      (click)="sidebarService.toggleSidebar()"
    >
      <button
        class="btn btn-neutral btn-square min-h-10 min-w-10 max-h-10 max-w-10 w-full"
      >
        <icon-sidebar classes="w-5 h-5" />
      </button>
    </div>
    <div class="flex gap-2 items-center">
      <div
        class="tooltip tooltip-left tooltip-accent"
        data-tip="Search"
        (click)="this.searchService.show()"
      >
        <button
          class="btn btn-neutral btn-square min-h-10 min-w-10 max-h-10 max-w-10 w-full"
        >
          <icon-search classes="w-5 h-5" />
        </button>
      </div>
      <div
        (click)="this.sidebarService.learnNew()"
        class="tooltip tooltip-bottom tooltip-accent"
        data-tip="Learn"
      >
        <button
          class="btn btn-neutral btn-square min-h-10 min-w-10 max-h-10 max-w-10 w-full"
        >
          <icon-new classes="w-5 h-5" />
        </button>
      </div>
    </div>
  </div>
  <div class="flex-1 overflow-y-scroll overflow-x-hidden mt-4 px-4">
    <div class="flex flex-col gap-2">
      @if (!courseService.courseNames().length) {
      <div
        class="flex flex-col items-center justify-center py-12 text-neutral-content/70 space-y-2"
      >
        <icon-new classes="w-12 h-12 opacity-20" />
        <p>Generate a course to get started</p>
      </div>
      } @else { @for (courseName of courseService.courseNames(); track $index) {
      <div>
        <div
          class="group flex justify-between gap-3 items-center hover:cursor-pointer p-2 rounded-lg transition-all duration-300 border border-transparent hover:border-neutral-500 font-cinzel"
          [class]="
            courseService.selectedCourseId() === $index
              ? 'bg-base-100 border-neutral-500'
              : ''
          "
          (click)="setCourse($index)"
        >
          <div class="flex-1 min-w-0">
            @if (editingCourseId() !== $index) {
            <div class="text-sm truncate">
              {{ courseName }}
            </div>
            } @else {
            <input
              type="text"
              class="text-sm input input-bordered focus:outline-none rounded-md h-5 px-2 w-full"
              [(ngModel)]="editedCourseName"
            />
            }
          </div>

          <div class="flex items-center gap-2 shrink-0">
            @if (editingCourseId() !== $index) {
            <div class="flex items-center gap-2">
              <div
                class="tooltip tooltip-top tooltip-accent font-sans"
                data-tip="Edit"
              >
                <icon-pencil
                  classes="w-4 h-4 cursor-pointer text-secondary"
                  (click)="startEditing($index)"
                />
              </div>
              <div
                class="tooltip tooltip-top tooltip-accent font-sans"
                data-tip="Delete"
              >
                <icon-trash
                  classes="w-4 h-4 cursor-pointer text-secondary hover:text-red-500 transition-all duration-300"
                  (click)="deleteCourse($index)"
                />
              </div>
            </div>
            } @else {
            <div class="flex items-center gap-2">
              <icon-check
                classes="w-4 h-4 cursor-pointer"
                (click)="saveEdit($index)"
              />
              <icon-cross
                classes="w-4 h-4 cursor-pointer"
                (click)="cancelEdit(); $event.stopPropagation()"
              />
            </div>
            }
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
</div>
