<div
  class="relative flex w-full items-center justify-center h-screen bg-[url('/images/home/gradient-bg-comp.webp')] bg-cover bg-center"
>
  <div class="absolute inset-0 bg-black/25 pointer-events-none"></div>
  <div class="z-10">
    <div class="flex flex-col items-center gap-7 pb-24">
      <h1
        class="text-secondary text-9xl text-center font-cinzel-decorative font-normal"
      >
        Learn. Fast.
      </h1>
      <label
        class="input input-secondary input-lg flex items-center gap-2 w-full rounded-2xl text-3xl bg-base-100/45 hover:bg-base-100/60 transition-colors duration-300 ease-in-out"
      >
        <input
          type="text"
          class="grow placeholder:text-neutral-600 font-cinzel"
          placeholder="What do you want to learn?"
          onclick="create.showModal()"
        />
        <img src="/icons/light.svg" alt="light" class="w-8 h-8" />
      </label>
    </div>
    <app-create />
  </div>
</div>
