<div class="flex w-full justify-between gap-3">
  @if (recommendations().length === 0) {
  <div class="w-full flex flex-col items-center justify-center my-3">
    <span class="loading loading-ring loading-sm"></span>
  </div>
  } @else { @for (recommendation of recommendations(); track $index) {
  <a
    class="py-3 px-1 rounded-2xl bg-base-100 hover:bg-neutral w-full max-w-[25%] border border-neutral-800 transition-colors duration-300 ease-in-out cursor-pointer"
    [class]="recommendation ? 'animate-fadeInUp' : ''"
    (click)="applyRecommendation($index)"
  >
    @if (recommendation) {
    <div class="text-center">
      <div class="text-sm font-semibold">
        {{ recommendation.topic }}
      </div>
    </div>
    }
  </a>
  } }
</div>
