<div
  class="z-20 absolute h-full left-0 w-80 rounded-lg shadow-lg p-8 flex-shrink-0 transition-transform duration-300 bg-neutral-900"
  [class]="isSidebarOpen() ? 'translate-x-0' : '-translate-x-full'"
  s
>
  <form>
    <div class="mb-6">
      <label
        for="topic"
        class="text-neutral-200 text-sm font-bold mb-2 block text-left"
      >
        Topic
      </label>
      <input
        type="text"
        id="topic"
        class="block w-full p-2 text-sm text-neutral-200 border border-neutral-600 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 bg-neutral-800 transition duration-300 ease-in-out hover:bg-neutral-700 hover:border-teal-500"
        required
      />
    </div>
    <div class="mb-6">
      <label
        for="goal"
        class="text-neutral-200 text-sm font-bold mb-2 block text-left"
      >
        Goal
      </label>
      <textarea
        id="goal"
        class="block w-full p-2 text-sm text-neutral-200 border border-neutral-600 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 bg-neutral-800 transition duration-300 ease-in-out hover:bg-neutral-700 hover:border-teal-500"
        required
        maxlength="500"
      ></textarea>
    </div>
    <div class="mb-6">
      <label
        for="background"
        class="text-neutral-200 text-sm font-bold mb-2 block text-left"
      >
        Background
      </label>
      <textarea
        id="background"
        class="block w-full p-2 text-sm text-neutral-200 border border-neutral-600 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 bg-neutral-800 transition duration-300 ease-in-out hover:bg-neutral-700 hover:border-teal-500"
        required
        maxlength="500"
      ></textarea>
    </div>
    <div class="flex justify-center">
      <button
        type="submit"
        class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out hover:scale-105"
      >
        Submit
      </button>
    </div>
  </form>
  <button
    class="absolute top-3 right-3 text-white font-bold p-2"
    (click)="toggleSidebar.emit()"
  >
    X
  </button>
</div>
